# Ignorar archivos compilados y directorios generados
/dist/
/out/
/node_modules/
/.next/

# Ignorar archivos de configuración específicos
.env
.env.local

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db
