//settings
$font-main: "Kumbh Sans", sans-serif;
$font-2: "Instrument Sans", sans-serif;
$font-3: "Plus Jakarta Sans", sans-serif;
$font-4: "Barlow Condensed", serif;
$font-5: "Inter Tight", serif;
$fontIcon: "icomoon";

:root {
    // color
    --primary: #e43131;
    --main: #181818;
    --secondary: #4d4e4f;
    --secondary-2: #a0a0a0;
    --white: #ffffff;
    --surface: #f7f7f7;
    --critical: #f03e3e;
    --warning: #9391e1;
    --success: #3dab25;
    --yellow: #f0a750;
    --line: #e9e9e9;
    --pink: #ec749d;
    --blue: #0c74d6;

    // rgba color
    --main-rgba-1: rgba(0, 0, 0, 0.16);
    --main-rgba-2: rgba(0, 0, 0, 0.15);
    --gradient: linear-gradient(87deg, #fbf1f1 3.59%, #f4f1fa 95.02%);

    --rgba-primary: rgba(228, 49, 49, 0.1);

    --bg-scrollbar-track: #f1f1f1;
    --bg-scrollbar-thumb: #c1c1c1;

    --shadow1: 0px 10px 25px 0px #2b344a1f;
    --shadow2: 0px 5px 18px 5px #40485726;
    --backdrop: rgba(24, 24, 24, 0.2);
}
